<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='index.css') }}"
        />
  </head>
  <body>
    <header>
      <p class="spree"><a href="/">SPREE</a></p>
      <nav class="navigation">
        <a href="/about">About</a>
        <a href="/instruction">Instruction</a>
        <a href="/login">Login</a>
        <button
            class="btnRegister-popup"
            id="btn"
            onclick="location.href = '/signup'"
            >
            Register
        </button>
      </nav>
    </header>
    <div class="container my-4">
      <h1>Instruction</h1>
      <p>Here are the instructions for using my Flask app:</p>
      <ol>
        <li>Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
      </ol>
    </div>
  </body>
</html>
