<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='personal.css') }}"
        />
    <script
        type="module"
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
    <script
        nomodule
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
        ></script>
  </head>
  <body>
    <header>
      <p class="spree">SPREE</p>
      <nav class="navigation">
        <a href="#">About</a>
        <a href="#">Instruction</a>
        <a href="#">Login</a>
        <button
            class="btnRegister-popup"
            id="btn"
            onclick="location.href = '#'"
            >
            Register
        </button>
      </nav>
    </header>
    <div class="container text-center">
      <div class="head">
        <h1>
          YOU WANT TO <br> TRACK YOUR <br> GROCERY SHOPPING LIST?
        </h1>
      </div>

      <div class="lines">
        <p>
        <span>
          The best way to reduce food waste is to avoid creating it in the first place, and a bit of planning can help you do just
          that
        </span>
        </p>
      </div>

      <div class="open-account">
        <button class="btn" onclick="location.href = '#'">Open an account</button>
      </div>

    </div>

  </body>
</html>
